p {
    background-color: cadetblue;
    margin: 40px;
}

span {
    background-color: red;
    margin: 30px;
    padding: 30px;
}

.avecUneBordure {
    border: 1px solid;
}

.avecDesMarges{
    margin: 0px 20px 0px 100px;
}